.App {
  text-align: center;
}

input {
  height: 40px;
  width: 300px;
}

button {
  border: 1px solid silver;
  border-radius: 5px;
  margin: 0 1rem;
  padding: 0 1rem;
  background-color: white;
}
